/*css to format grid to look similar to picture*/
h4
{
    grid-row: 1;
    text-align: center;
    margin: auto;
}


.container {
    grid-row: 2;
    display: grid;
    margin: 20% 20%;

}

.container2 {
    display: inline-grid;

}

#Sec1
{
    border: 1px solid red;
    display: inline-block;
    grid-column: 2/3;
    grid-row: 2;


}

#Sec2 {
    border: 1px solid red;
    display: inline-block;
    grid-column: 3 / 4;
    grid-row: 2;


}

#choice {
    grid-column: 3 / 4;
    grid-row: 3;
    border: 1px solid blue;
    display: block;
}







#Sec3 {
    border: 1px solid red;
    display: inline-block;
    grid-column: 4/5;
    grid-row: 2;

}



#bkg {
    grid-column: 4/5;
    grid-row: 3;
    border: 1px solid blue;
    display: block;
}

body {
    border: 1px solid black;
    margin: 20% 20%;
    padding: 2px
}


footer
{
    font-size: x-small;
    grid-row: 4;
    text-align: center;
}
/*to change colors...*/
#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}